<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="XYZ Bank test suite">
	
	<listeners>
		<listener class-name="com.xyz.qa.ExtentReportListner.ExtentReportListner"></listener>
	</listeners>
	
    <test name="XYZ Bank testcases">
         <classes>
             <class name="com.xyz.qa.Testcases.BankManagerLoginPageTest"/>
   
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->